.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.macbook-pro .div {
    background-color: #ffffff;
    width: 2067px;
    height: 1117px;
    position: relative;
}

.macbook-pro .overlap {
    position: absolute;
    width: 1166px;
    height: 677px;
    top: 0;
    left: 0;
}

.macbook-pro .vector {
    position: absolute;
    width: 532px;
    height: 282px;
    top: 0;
    left: 634px;
}

.macbook-pro .img {
    position: absolute;
    width: 397px;
    height: 257px;
    top: 1px;
    left: 706px;
}

.macbook-pro .vector-2 {
    position: absolute;
    width: 349px;
    height: 636px;
    top: 41px;
    left: 0;
}

.macbook-pro .text-wrapper {
    position: absolute;
    width: 488px;
    height: 151px;
    top: 252px;
    left: 340px;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #40aac0;
    font-size: 86px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-2 {
    position: absolute;
    width: 670px;
    height: 153px;
    top: 352px;
    left: 230px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #40aac0;
    font-size: 106px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .text-wrapper-3 {
    position: absolute;
    width: 786px;
    height: 153px;
    top: 455px;
    left: 247px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #40aac0;
    font-size: 106px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.macbook-pro .overlap-group {
    position: absolute;
    width: 106px;
    height: 122px;
    top: 455px;
    left: 1060px;
}

.macbook-pro .rectangle {
    position: absolute;
    width: 65px;
    height: 90px;
    top: 16px;
    left: 21px;
    background-color: #ffd100;
    transform: rotate(-21.95deg);
}

.macbook-pro .vector-3 {
    position: absolute;
    width: 76px;
    height: 93px;
    top: 21px;
    left: 7px;
}

.macbook-pro .rectangle-2 {
    position: absolute;
    width: 74px;
    height: 6px;
    top: 14px;
    left: -2px;
    background-color: #926c15;
    border-radius: 67px;
    transform: rotate(-21.95deg);
}

.macbook-pro .rectangle-3 {
    position: absolute;
    width: 74px;
    height: 6px;
    top: 103px;
    left: 34px;
    background-color: #926c15;
    border-radius: 67px;
    transform: rotate(-21.95deg);
}

.macbook-pro .ellipse {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 33px;
    left: 26px;
    background-color: #ffffff;
    border-radius: 28.16px/28.15px;
    transform: rotate(-40.83deg);
}

.macbook-pro .ellipse-2 {
    position: absolute;
    width: 50px;
    height: 51px;
    top: 36px;
    left: 29px;
    background-color: #fcefb4;
    border-radius: 25.04px/25.33px;
    transform: rotate(-40.83deg);
}

.macbook-pro .overlap-2 {
    position: absolute;
    width: 711px;
    height: 798px;
    top: 79px;
    left: 1356px;
    /* background-image: url(./img/vector-5.png); */
    background-size: 100% 100%;
}

.macbook-pro .vector-4 {
    position: absolute;
    width: 610px;
    height: 653px;
    top: 69px;
    left: 101px;
}

.macbook-pro .vector-55 {
    position: absolute;
    width: 710px;
    height: 790px;
    top: 20px;
    left: 0px;
}

.macbook-pro .vector-5 {
    position: absolute;
    width: 558px;
    height: 546px;
    top: 120px;
    left: 153px;
    object-fit: cover;
}

.macbook-pro .vector-6 {
    position: absolute;
    width: 301px;
    height: 239px;
    top: 878px;
    left: 427px;
}

.macbook-pro .overlap-group-2 {
    position: absolute;
    width: 110px;
    height: 121px;
    top: 328px;
    left: 1218px;
}

.macbook-pro .rectangle-4 {
    position: absolute;
    width: 63px;
    height: 87px;
    top: 17px;
    left: 24px;
    background-color: #41aac0;
    transform: rotate(27.81deg);
}

.macbook-pro .vector-7 {
    position: absolute;
    width: 64px;
    height: 97px;
    top: 8px;
    left: 8px;
}

.macbook-pro .rectangle-5 {
    position: absolute;
    width: 71px;
    height: 6px;
    top: 16px;
    left: 41px;
    background-color: #00748d;
    border-radius: 67px;
    transform: rotate(27.81deg);
}

.macbook-pro .rectangle-6 {
    position: absolute;
    width: 71px;
    height: 6px;
    top: 98px;
    left: -3px;
    background-color: #00748d;
    border-radius: 67px;
    transform: rotate(27.81deg);
}

.macbook-pro .ellipse-3 {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 33px;
    left: 28px;
    background-color: #ffffff;
    border-radius: 27.31px;
    transform: rotate(8.93deg);
}

.macbook-pro .ellipse-4 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 36px;
    left: 31px;
    background-color: #b8f8f8;
    border-radius: 24.29px/24.57px;
    transform: rotate(8.93deg);
}

.macbook-pro .overlap-3 {
    position: absolute;
    width: 81px;
    height: 106px;
    top: 624px;
    left: 1217px;
}

.macbook-pro .rectangle-7 {
    position: absolute;
    width: 63px;
    height: 87px;
    top: 9px;
    left: 9px;
    background-color: #41aac0;
    transform: rotate(-5.81deg);
}

.macbook-pro .vector-8 {
    position: absolute;
    width: 53px;
    height: 89px;
    top: 10px;
    left: 6px;
}

.macbook-pro .rectangle-8 {
    position: absolute;
    width: 71px;
    height: 6px;
    top: 4px;
    left: 0;
    background-color: #00748d;
    border-radius: 67px;
    transform: rotate(-5.81deg);
}

.macbook-pro .rectangle-9 {
    position: absolute;
    width: 71px;
    height: 6px;
    top: 96px;
    left: 9px;
    background-color: #00748d;
    border-radius: 67px;
    transform: rotate(-5.81deg);
}

.macbook-pro .ellipse-5 {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 25px;
    left: 14px;
    background-color: #ffffff;
    border-radius: 27.31px;
    transform: rotate(-24.69deg);
}

.macbook-pro .ellipse-6 {
    position: absolute;
    width: 49px;
    height: 49px;
    top: 28px;
    left: 17px;
    background-color: #b8f8f8;
    border-radius: 24.29px/24.57px;
    transform: rotate(-24.69deg);
}

.macbook-pro .frame {
    position: absolute;
    width: 138px;
    height: 153px;
    top: 878px;
    left: 1100px;
}

.macbook-pro .frame2 {
    position: absolute;
    width: 138px;
    height: 153px;
    top: 578px;
    left: 899px;
}

.box2 {
    width: 133px;
    height: 134px;
}

.box2 .vector {
    position: fixed;
    width: 101px;
    height: 102px;
    top: 0;
    left: 0;
}

.box1 {
    width: 101px;
    height: 104px;
}

.box1 .vector {
    position: fixed;
    width: 93px;
    height: 99px;
    top: 0;
    left: 0;
}

/* ************************************************************** */
.card-madical {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.card-madical .overlap-group-wrapper {
    background-color: #ffffff;
    /* width: 1512px; */
    /* height: 982px; */
    width: 85%;
    /* Use 100% width to make it responsive */
    display: flex;
    flex-wrap: wrap;
    /* Added flex-wrap property */
    justify-content: center;

}

.card-madical .overlap-groupp {
    margin-top: 19px;
    margin-left: 12px;
    position: relative;
    width: 320px;
    height: 435px;
    /* top: 118px;
    left: 76px; */
    margin-right: 16px;
    /* Added margin-right to create space between elements */
    margin-bottom: 16px;
    /* Added margin-bottom to create space between rows */
    transition: transform 0.3s ease;

    border-radius: 29px;
    box-shadow: 0px 4px 4px #00000040;
    background: linear-gradient(180deg, rgb(239.06, 236.07, 236.07) 0%, rgba(239.06, 236.07, 236.07, 0) 100%);
}

.card-madical .overlap-groupp:hover {
    transform: translateY(-20px);
    box-shadow: 0px 8px 8px #00000060;
}

.card-madical .framee:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px #00000040;
}

.card-madical .ellipsee {
    position: absolute;
    width: 75px;
    height: 74px;
    top: 57px;
    left: 51px;
    border-radius: 37.5px/37px;
    background: linear-gradient(180deg, rgba(0, 218, 234, 0.6) 30%, rgba(234, 211, 0, 0.3) 95%);
}

.card-madical .text-wrapperr {
    position: absolute;
    width: 123px;
    top: 160px;
    left: 49px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.card-madical .linee {
    position: absolute;
    width: 75px;
    height: 5px;
    top: 221px;
    left: 51px;
}

.card-madical .elementt {
    position: absolute;
    width: 90px;
    top: 254px;
    left: 85px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 17px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.card-madical .elementtt {
    position: absolute;
    width: 90px;
    top: 253px;
    left: 20px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 19px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.card-madical .elementttT {
    position: absolute;
    width: 90px;
    top: 285px;
    left: 20px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 19px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.card-madical .divv {
    position: absolute;
    width: 75px;
    top: 287px;
    left: 84px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.card-madical .framee {
    display: flex;
    width: 87px;
    height: 37px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2px 14px;
    position: absolute;
    top: 369px;
    left: 117px;
    border-radius: 23px;
    background: linear-gradient(130deg, rgba(0, 218, 234, 0.6) 30%, rgba(234, 211, 0, 0.3) 95%);
}

.card-madical .text-wrapper-222 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.clinic {
    position: absolute;
    left: 18px;
    top: 15px
}

.labelll {
    width: 393px;
    height: 89px;
}

.labelll .text-wrapperrr {
    position: fixed;
    width: 393px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(74, 240, 178) 0%, rgb(51, 51, 51) 100%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; */
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 60px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

h1 {
    font-size: 70px;
    color: #40aac0;
    transition: color 0.3s ease;
    /* Smooth transition effect */
    background-color: #ffffff;
    position: relative;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;

}

h1:hover {
    color: #00D7E9;
    /* Change the color on hover */
}


/* Styles for the search button */
.search-button {
    position: fixed;
    bottom: 30px;
    right: 40px;
    background-color: #00D7E9;
    color: white;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Add box-shadow transition */

}

.search-button:hover {
    transform: scale(1.05);
    /* Scale up slightly on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Add shadow on hover */
}

/* Styles for the search popup */
.search-popup {
    position: fixed;
    bottom: 32px;
    right: 120px;
    transform: scale(0.9);
    /* Initially move the popup below the viewport */
    transition: transform 0.3s ease, opacity 0.3s ease;
    /* Smooth transition effect */
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    /* Ensure the popup appears above other elements */
}

.search-popup.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.search-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.search-input:focus {
    border-color: #007bff;
}

/* Additional styles for search input field, etc. */