.pricing .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  
  .pricing .box-container .box{
    background: var(--bg);
    padding: 3rem;
    text-align: center;
    border-radius: 79% 51% 81% 19% / 58% 93% 7% 42%;
  }
  
  .pricing .box-container .box:hover{
    border-radius: .5rem;
  }
  
  .pricing .box-container .box img{
    height: 15.5rem;
    width: 15.5rem;
    margin-bottom: .5rem;
  }
  
  .pricing .box-container .box h3{
    font-size: 2.6rem;
    color: var(--black);
    padding: 1rem 0;
  }
  
  .pricing .box-container .box .price{
    font-size: 2.2rem;
    color: var(--main);
    padding: .5rem 0;
  }
  
  .pricing .box-container .box p{
    font-size: 1.5rem;
    color: var(--black);
    padding: .5rem 0;
  }
  .pricing .box-container .box .inputBox textarea{
    height: 30px;
    width: 50%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .pricing .box-container .box .inputBox textarea:focus,
  .pricing .box-container .box .inputBox textarea:valid{
    border-color: #f18221;
  }
  