.pricing .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 130px;
}

.pricing .box {
  flex: 1 1 calc(25% - 1rem); 
  background: var(--bg);
  padding: 3rem;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 2rem; 
  box-sizing: border-box; 
}
.pricing .heading {
  margin-top: 100px;
}

.pricing .box:hover {
  border-radius: 0.5rem;
}

.pricing .box img {
  height: 15.5rem;
  width: 15.5rem;
  margin-bottom: 0.5rem;
}

.pricing .box h3 {
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
}

.pricing .box .price {
  font-size: 1.4rem;
  color: var(--main);
  padding: 0.5rem 0;
}

.pricing .box p {
  font-size: 1.2rem;
  color: var(--black);
  padding: 0.5rem 0;
}

.pricing .box .inputBox textarea {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.pricing .box .inputBox textarea:focus,
.pricing .box .inputBox textarea:valid {
  border-color: #f18221;
}
