.header_store {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1000;
    background: #4e77b7;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
  }
  
  
  .header_store .logo {
    position: absolute;
    top: 20px;
    left: 110px;
    font-size: 30px;
    font-weight:500;
    color: #ffffff;
  }
  
  .header_store .logo i {
    color: #FECC02;
  }
  
  .header_store .navbar a {
    font-size: 1.7rem;
    color: var(--black);
    margin: 0 1rem;
  }
  
  .header_store .navbar a:hover {
    color: #FECC02;
  }
  


  .dropdown1 {
    position: absolute;
    top: 50px;
    left: 360px;
    display: inline-block;
  }
  .dropdown1 .dropbtn{
    font-size: 19px;
    font-weight: 300;
    background:none;
    padding: 7px;
    color: #ffffff;
  }
  
  .dropdown1:hover .dropdown-content {
    display: block;
  }

  .dropdown2 {
    position: absolute;
    top: 50px;
    left: 550px;
    display: inline-block;
  }
  .dropdown2 .dropbtn{
    font-size: 19px;
    font-weight: 300;
    background:none;
    padding: 7px;
    color: #ffffff;
  }
  
  .dropdown2:hover .dropdown-content {
    display: block;
  }
  
 
  



  .dropdown3 {
    position: absolute;
    top: 57px;
    left: 770px;
    display: inline-block;
  }
  .dropdown3 .dropbtn{
    font-size: 19px;
    font-weight: 300;
    background:none;
    padding: 7px;
    color: #ffffff;

  }
  .dropdown4 {
    position: absolute;
    top: 57px;
    left: 1900px;
    display: inline-block;
  }
  .dropdown4 .dropbtn{
    font-size: 19px;
    font-weight: 300;
    background:none;
    padding: 7px;
    color: #ffffff;
  }

  .dropdown5 {
    position: absolute;
    top: 57px;
    left: 1800px;
    display: inline-block;
  }
  .dropdown5 .dropbtn{
    font-size: 19px;
    font-weight: 300;
    background:none;
    padding: 7px;
    color: #ffffff;
  }
  .dropdown6 {
    position: absolute;
    top: 57px;
    left: 1500px;
    display: inline-block;
  }
  .dropdown6 .dropbtn{
    font-size: 19px;
    font-weight: 300;
    background:none;
    padding: 7px;
    color: #ffffff;
  }

  .dropdown7 .dropbtn{
    font-size: 19px;
    font-weight: 300;
    background:none;
    padding: 7px;
    color: #ffffff;

  }
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    top: 85px;
    left: 1050px;
    width: 900px;
    height: 650px;
  }
  
  .dropdown7:hover .dropdown-content2 {
    display: block;
  }
  .dropdown6 .aa{
    color: #f1f1f1;
    position: absolute;
    top: -10px;
    font-size: 35px;

  }
  .dropdown5 .aa{
    color: #f1f1f1;
    position: absolute;
    top: -10px;
    font-size: 35px;
  }
  .dropdown5 .aa:hover {
    cursor: pointer;
    color: #FECC02; /* Change color to yellow when hovering */
}
.dropdown4 .aa:hover {
  cursor: pointer;
}
.dropdown6 .aa:hover {
  cursor: pointer;
  color: #FECC02; /* Change color to yellow when hovering */
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .header_store .icons div {
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: var(--black);
  }
  
  .header_store .icons div:hover {
    color: var(--main);
  }
  #menu-btn {
    display: none;
  }
.rectangleheader {
    position: absolute;
    width: 30px;
    height: 18px;
    top: -8px;
    left: 38px;
    background-color: #ffffff;
    border-radius: 35px;
}
.rectangleheader2 {
  position: absolute;
  width: 130px;
  height: 28px;
  top: 2px;
  left: 38px;
  background-color: #ffffff;
  border-radius: 35px;
}
.text-wrapper-9header {
    width: 13px;
    height: 10px;
    top: -6px;
    left:46.5px;
    font-family: "Inder-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 11px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
.text-wrapper-9header2 {
  width: 13px;
  height: 10px;
  top: 6px;
  left:46.5px;
  font-family: "Inder-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  position: absolute;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.frameheader {
    position: absolute;
    width: 378px;
    height: 31px;
    top: 55px;
    left: 1050px;
    background-color: #ffffff;
    border-radius: 5px;
}

.vectorheader {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 58px;
    left: 1405px;
    z-index: 1;
    font-size: 17px;
}
.dropdown-content2 .frame-4_me {
  width: 100%;
  height: 615px;
  max-width: calc(100% - 100px);
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
  left: 20px;
  top: 20px;
}

.dropdown-content2 .frame-4_me::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

.dropdown-content2 .frame-4_me::-webkit-scrollbar-thumb {
  background-color: lightblue;
  border-radius: 5px;

}

.dropdown-content2 .frame-4_me::-webkit-scrollbar-track {
  background-color: transparent;
}

.dropdown-content2 .overlap-22 {
  position: relative;
  
  flex-wrap: nowrap;
  display: inline-block;
  margin-right: 343px;
  margin-left: 0px;
  height: 519px;

}
.dropdown-content2 .rectangle-14 {
  position: absolute;
  width: 268px;
  height: 587px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px #b8d8eb;
}

.dropdown-content2 .rectangle-15 {
  position: absolute;
  width: 88px;
  height: 31px;
  top: 0;
  left: 0;
  background-color: #b8d8eb;
}
.dropdown-content2 .rectangle-11 {
  position: absolute;
  width: 265px;
  height: 259px;
  top: 31px;
  left: 1px;
}
.dropdown-content2 .text-wrapper-26 {
  height: 21px;
  top: 4px;
  left: 6px;
  font-size: 14px;
  position: absolute;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0;
  line-height: normal;
}

.dropdown-content2 .text-wrapper-27 {
  position: absolute;
  height: 27px;
  top: 297px;
  left: 13px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.dropdown-content2 .text-wrapper-28 {
  height: 36px;
  top: 361px;
  left: 13px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  width: 200px;
}
.dropdown-content2 .element {
  position: absolute;
  height: 23px;
  top: 555px;
  left: 119px;
  font-family: "Poppins-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  width: 200px;
}
.dropdown-content2 .text-wrapper-33 {
  position: absolute;
  max-width: 210px;
  width: 207px;
  height: 27px;
  top: 324px;
  left: 13px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  overflow: hidden;
}
.dropdown-content2 .rectangle-13 {
  position: absolute;
  width: 240px;
  height: 34px;
  top: 415px;
  left: 13px;
  background-color: #ebf3f9;
}

.dropdown-content2 .text-wrapper-31 {
  position: absolute;
  width: 220px;
  height: 26px;
  top: 423px;
  left: 49px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.dropdown-content2 .vector-9 {
  position: absolute;
  width: 17px;
  height: 14px;
  top: 426px;
  left: 22px;
}

.dropdown-content2 .frame-3 {
  display: flex;
  width: 82px;
  height: 37px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 32px;
  position: absolute;
  top: 465px;
  left: 90px;
  background-color: #b8d8eb;
  border-radius: 14px;
  transition: background-color 0.3s ease;
  /* Add transition for smooth effect */
}

.dropdown-content2 .frame-3:hover {
  background-color: #85c7f2;
  /* Change background color on hover */
}

.dropdown-content2 .text-wrapper-32 {
  position: relative;
  width: fit-content;
  margin-top: -5.5px;
  margin-bottom: -3.5px;
  margin-left: -15.5px;
  margin-right: -15.5px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.dropdown-content2 .star-container {
  /* Adjust the container to allow inline display */
  display: inline-block;
  position: absolute;
  top: 555px;
  left: 13px;
  width: 100px;
}
.dropdown-content2 .star-solid {
  position: relative;
  width: 19px;
  height: 16px;
  /* top: 555px;
  left: 13px; */
}
.dropdown-content2 .empty_search {
  width: 19px;
  height: 16px;
  font-size: 30px;
  position: absolute;
  top: 250px;
  left: 250px;
}
.dropdown-content2 .empty_search2 {
  width: 19px;
  height: 16px;
  font-size: 30px;
  position: absolute;
  top: 250px;
  left: 40px;
}
