@keyframes move {
    0% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(-5px); }
  }
  
  .move-animation {
    animation: move 2s ease infinite;
  }
  @keyframes shake {
    0% { transform: translateY(-5px); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(-5px); }
}

.shake-animation {
    animation: shake 3s ease infinite;
}
