
.contact{
    background: var(--bg);
  }
  
  .contact form{
    padding: 2rem 10%;
    text-align: center;
  }
  
  .contact form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact form .inputBox input,
  .contact form textarea{
    font-size: 1.7rem;
    width: 49%;
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: .5rem;
    text-transform: none;
  }
  
  .contact form .inputBox input::placeholder,
  .contact form textarea::placeholder{
    text-transform: capitalize;
  }
  
  .contact form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
  }
  section form textarea:focus,
  section form textarea:valid{
    border-color: #f18221;
  }
  .t1 select{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
   .t1 select:focus,
   .t1 select:valid{
    border-color: #f18221;
  }