.frame_My_appointments {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.frame_My_appointments .div {
    width: 2068px;
    height: 1171px;
    position: relative;
    margin-top: 280px;
    margin-left: 300px;
}

.frame_My_appointments .overlap-group {
    width: calc(33.33% - 20px); /* Each appointment occupies 1/3 of the container width with margin */
    height: auto;
    margin-bottom: 20px; /* Add margin between appointments */
    position: relative;
    display: inline-block; 
    margin-top: 20px;
    padding-top: 750px;
    overflow: hidden; /* Hide overflowing content */
    transition: all 0.3s ease; 
}
.frame_My_appointments .overlap-group:hover {
    transform: translateY(-10px); /* Move the card up on hover */
}


.frame_My_appointments .rectangle {
    position: absolute;
    width: 421px;
    height: 748px;
    top: 0;
    left: 18px;
    background-color: #ffffff;
    border-radius: 35px;
}

.frame_My_appointments .vector {
    position: absolute;
    width: 421px;
    height: 313px;
    top: 0;
    left: 18px;
    object-fit: cover;
}

.frame_My_appointments .text-wrapper {
    position: absolute;
    width: 228px;
    height: 33px;
    top: 330px;
    left: 115px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-2 {
    position: absolute;
    width: 255px;
    height: 33px;
    top: 398px;
    left: 85px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-3 {
    position: absolute;
    width: 264px;
    height: 33px;
    top: 466px;
    left: 122px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-4 {
    position: absolute;
    width: 305px;
    height: 33px;
    top: 534px;
    left: 63px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-5 {
    position: absolute;
    width: 276px;
    height: 33px;
    top: 602px;
    left: 115px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-6 {
    position: absolute;
    width: 305px;
    height: 33px;
    top: 670px;
    left: 91px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-7 {
    position: absolute;
    width: 152px;
    height: 33px;
    top: 330px;
    left: 3px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-8 {
    position: absolute;
    width: 152px;
    height: 33px;
    top: 398px;
    left: 8px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-9 {
    position: absolute;
    width: 152px;
    height: 33px;
    top: 466px;
    left: 0;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-10 {
    position: absolute;
    width: 152px;
    height: 33px;
    top: 534px;
    left: 20px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-11 {
    position: absolute;
    width: 152px;
    height: 33px;
    top: 602px;
    left: 9px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-12 {
    position: absolute;
    width: 152px;
    height: 33px;
    top: 670px;
    left: 9px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.frame_My_appointments .text-wrapper-13 {
    position: absolute;
    width: 907px;
    top: 146px;
    left: 580px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #3dbbcf;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 20px;
}
